TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
VITE_APP_NAME=infinity.dev

# Database
DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=infinity.dev
DRIVE_DISK=fs

TEST_TMP_DIR=/tmp/infinity.dev